* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.women {
  display: flex;
  flex: row wrap;
  justify-content: space-around;
}

.woman {
  text-align: center;
}

.woman > .photo {
  display: inline-block;
}

.woman > .name {
  display: block;
  text-transform: capitalize;
}

.woman > .phone {
  display: block;
}

.woman > .email {
  display: block;
}