* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font: 400 16px/1.4 Arial, sans-serif;
  color: #444;
  height: 3000px;
}

#kitten {
  position: absolute;
  top: 1000px;
  left: 50px;
}