* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 400 16px/1.4 Arial, sans-serif;
  color: #444;
}

img {
  margin-top: 1000px;
  margin-bottom: 1000px;
}